{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/login.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container">
      <form method="post" action="{{ path('app_login') }}">
        <label for="username">Email:</label>
        <input type="text" name="email" id="username" placeholder="Email..." />
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" id="password" placeholder="Mot de passe..." />
         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Connexion</button>
      </form>
      <div class="ear-l"></div>
      <div class="ear-r"></div>
      <div class="panda-face">
        <div class="blush-l"></div>
        <div class="blush-r"></div>
        <div class="eye-l">
          <div class="eyeball-l"></div>
        </div>
        <div class="eye-r">
          <div class="eyeball-r"></div>
        </div>
        <div class="nose"></div>
        <div class="mouth"></div>
      </div>
      <div class="hand-l"></div>
      <div class="hand-r"></div>
      <div class="paw-l"></div>
      <div class="paw-r"></div>
    </div>
{% endblock %}
