{% extends 'base.html.twig' %}

{% block title %}New Monitoring{% endblock %}

{% block content %}
    <h1>Create new Monitoring</h1>

    {{ include('monitoring/_form.html.twig') }}

    <a href="{{ path('app_monitoring_index') }}">back to list</a>
{% endblock %}
