
.mainArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12rem;
    z-index: 1;
    margin-bottom: 10rem;
}

.areaContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.areaTitre {
    display: flex;
    padding-top: 15rem;
    margin: 0 auto;
    color: white;
}

.areaDescription {
    display: flex;
    font-size: 25px;
    font-family: fantasy;
    width: 40%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0 auto;
    color: white;
}

.areaPicture {
    display: grid;
    grid-template-columns: 15rem 35rem 15rem;
    justify-content: center;
    justify-items: center;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        width: 27rem;
        height: 16rem;
        margin-top: 1.5rem;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        transform: perspective(600px) rotateY(25deg);
        height: 19rem;
        width: 30rem;
        margin-right: 1.5rem;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        transform: perspective(600px) rotateY(-25deg);
        height: 19rem;
        width: 30rem;
        margin-left: 1.5rem;
    }
}

.areaPictureContent {
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 1.3s ease-out, opacity 1.3s ease-out;
    opacity: 0;
    border: 1px solid black;
}

.areaPictureContent:first-child {
    animation: slideInFromLeft 1.3s ease-out forwards;
}

.areaPictureContent:nth-child(2) {
    animation: slideInFromTop 0.9s ease-out forwards;
}

.areaPictureContent:last-child {
    animation: slideInFromRight 1.3s ease-out forwards;
}

.areaPictureContent:nth-child(4n+2) {
    grid-column: 2 / 3; 
    width: 27rem;
    height: 16rem;
    margin-top: 1.5rem;
}

.areaPictureContent:nth-child(4n+1) {
    grid-column: 1 / 2; 
    transform: perspective(600px) rotateY(25deg);
    height: 19rem;
    width: 30rem;
    margin-right: 1.5rem;
}

.areaPictureContent:nth-child(4n+3) {
    grid-column: 3 / 4; 
    transform: perspective(600px) rotateY(-25deg);
    height: 19rem;
    width: 30rem;
    margin-left: 1.5rem;
}

.backgroundArea1 {
    background-image: url('../images/area1background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.backgroundArea2 {
    background-image: url('../images/areaDesertBg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.backgroundArea3 {
    background-image: url('../images/AreaDesert.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.btnArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btnArea:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}


/*animaux*/

.swiper-container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.animalName {
    font-size: 2rem;
    margin-bottom: -1px;
    color: white;
}

.animalRace {
    color: white;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.animalImage {
    max-width: 100%;
    max-height: 30rem;
    border-radius: 10px;
    object-fit: cover;
}

.swiper-slide-active {
    transform: scale(1.8);
}

.swiper-slide-next, 
.swiper-slide-prev {
    transform: scale(0.9);
}

.swiper-slide-next + .swiper-slide,
.swiper-slide-prev + .swiper-slide {
    transform: scale(0.7);
}


