#animalChartGeneral {
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

#animalChartTropical, #animalChartSavane, #animalChartDesert {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

#popularityChartTropical, #popularityChartSavane, #popularityChartDesert {
    width: 20rem;
    height: 18rem !important;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.chart {
    max-width: 30rem;
    max-height: 35rem;
}

.titre {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}