body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  height: 80vh;
  z-index: 10;
}

.header {
  display: flex;
  height: 6rem;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.logo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.navBarre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.navListe {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    list-style: none;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navList2 {
  color: rgba(255, 0, 0, 0.524);
}

.navList a {
  text-decoration: none;
  color: inherit;
}

.navList a:hover {
  cursor: pointer;
}


.background-image {
    background-image: url('../images/AreaSavane.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}
