/* Styles généraux pour la page */
body {
    font-family: 'Arial', sans-serif; /* Utilisez la police que vous préférez */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    
}

.mainReview {
    width: 60%;
    margin: 0 auto;
    margin-top: -30rem;
}

.mainReview {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 6px 6px 12px #3b3535, -6px -6px 12px #3b3535; 
}

.titreReview {
    font-size: 24px;
    color: #333;
    margin-top: 0;
}

.addReviewContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.starTitre {
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 202, 202, 0.612);
    padding: 10px;
    border: 1px solid black;
}

.starTitre span {
    font-size: 45px;
    margin: 5px;
    padding: 3px;
    background-color: rgba(160, 158, 158, 0.612);
    border: 1px solid black;
    transition: color 0.3s ease;
    cursor: pointer;
}


.addReview {
    display: flex;
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 0.2px solid black;
    overflow: hidden;
    color: black;
    z-index: 1;
    position: relative;
    box-shadow: 6px 6px 12px #3b3535, -6px -6px 12px #3b3535; 
}

.addReview a {
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.thead th {
    background-color: #007BFF;
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-weight: normal; /* Enlever le gras par défaut pour un style plus moderne */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternance de couleurs pour les lignes */
}

td, th {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd; /* Ligne de séparation subtile */
}

/* Styles pour les étoiles et les actions */
.star {
    color: gold; /* Étoiles dorées */
    font-size: 18px; /* Taille des étoiles */
}

a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Bouton pour créer une nouvelle revue */
a[href$="app_review_new"] {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

a[href$="app_review_new"]:hover {
    background-color: #218838;
}
