.prestation {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    background-color: white;
    color: black;
    height: auto;
    padding-bottom: 3rem;
}

.titrePrestation {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
    color: black;
}

.article2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
}

.service-item {
    display: grid;
    grid-template-rows: 7rem 6rem 30rem 4rem 4rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
    font-size: 1em;
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 0.2rem;
    box-shadow: 4px 4px rgb(213, 250, 151),-4px -4px rgb(164, 208, 249);
    margin-bottom: 0.8rem;
}

.titrePrestationContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    color: black;
}

.contentPrestationRestauration {
    display: block;
    justify-content: center;
    height: 30rem;
    width: 20rem;
    margin: 0 auto;
    border-radius: 0.2rem;
    box-shadow: 4px 4px rgb(213, 250, 151),-4px -4px rgb(164, 208, 249);
    overflow: hidden;
}

.titrePrestationContent, .texte, .contentPrestationRestauration, .contentPrestationBoutique, .contentPrestationAnimation, .text{
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-out;
}

.titrePrestationContent.appear, .texte.appear, .text.appear {
    opacity: 1;
    transform: translateX(0);
}

.contentPrestationRestauration.appear, .contentPrestationBoutique.appear, .contentPrestationAnimation.appear {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s;
}
