<form method="post" action="{{ path('admin_veterinary_delete', {'id': veterinary.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ veterinary.id) }}">
    <button class="btnAction">Supprimer</button>
</form>
