{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
{% endblock %}

{% block body %}
    <footer>
        <div class="footerContent">
            <div class="footer1">
                <span class="item"><i class="fa-solid fa-map-location-dot"></i></span>
                <h2 class="titreFooter">Zoo Arcadia</h2>
                <p class="texteFooter">1 rue de la Forêt <br>35580 Paimpont</p>
            </div>
            <div class="footer2">
                <span class="item"><i class="fa-solid fa-house-circle-check"></i></span>
                <h2 class="titreFooter">Horaires</h2>
                <p class="texteFooter">Ouvert tous les jours de 9h à 18h</p>
            </div>
            <div class="footer3">
                <span class="item"><i class="fa-solid fa-file-signature"></i></span>
                <h2 class="titreFooter">Contact</h2>
                <p class="texteFooter">Tél : 02 99 91 91 91 <br>Mail :
                </p>
            </div>
        </div>
    </footer>
{% endblock %}