{% extends 'base.html.twig' %}

{% block title %}Zoo du sud{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
{% endblock %}
{% block body %}
    <div class="container"> 
        <div class="header">
                <img class="logo" src="{{ asset('images/logo.jpg') }}" alt="logo">
            <nav class="navBarre">
                <ul class="navListe">
                    <li class="navList">Accueil</li>
                    <li class="navList">Habitats</li>
                    <li class="navList">Services</li>
                    <li class="navList">Avis</li>
                    <li class="navList">Contact</li>
                    <li class="navList navList2"><a href="{{ path('app_login') }}"><i class="fa-solid fa-user-secret"></i> Connexion</a></li>
                </ul>
            </nav>
        </div>
    <div class="background-image"></div>
    </div>
{% endblock %}