{% extends 'base.html.twig' %}

{% block title %}Zoo du sud{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
{% endblock %}
{% block body %}
    <div class="container"> 
        <header class="header">
            <img class="logo" src="{{ asset('images/logo.jpg') }}" alt="logo">
        </header>
        <nav class="navBarre">
            <ul class="navListe">
                <li class="navList">Accueil</a></li>
                <li class="navList">Habitats</a></li>
                <li class="navList">Services</a></li>
                <li class="navList">Avis</a></li>
                <li class="navList">Contact</a></li>
                <li class="header2"><i class="fa-solid fa-user-secret"></i> Connexion</a></li>
            </ul>
        </nav>
    </div>
    <div class="container2">
        <h1 class="titre">Zoo Arcadia</h1>
        <img class="image" src="{{ asset('images/Savane/singe1.jpg') }}" alt="singe">
    </div>
{% endblock %}