{% extends 'employe/index.html.twig' %}

{% block title %}Monitoring Exists{% endblock %}

{% block content %}
<h1>Un enregistrement de monitoring existe déjà pour cet animal</h1>

<p>Un enregistrement de monitoring a déjà été créé pour cet animal le {{ monitoring.date|date('Y-m-d') }}.</p>

<div>
    <a href="{{ path('app_employeMonitoring_edit', {'id': monitoring.id}) }}" class="btn btn-primary">Modifier l'enregistrement</a>
    <a href="{{ path('app_employe_index') }}" class="btn btn-secondary">Revenir à la page précédente</a>
</div>
{% endblock %}
