{% extends 'base.html.twig' %}

{% block title %}New RecommandationVeterinary{% endblock %}

{% block body %}
    <h1>Create new RecommandationVeterinary</h1>

    {{ include('recommandation_veterinary/_formR.html.twig') }}

    <a href="{{ path('app_recommandation_veterinary_index') }}">back to list</a>
{% endblock %}
